{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
    </head>
    <body>
        {% include 'header.html' %}
        <div class="register">
        <div class="row">
        <div class="col-md-3 register-left">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="">
        <h3>Welcome</h3>
        <p>You are 30 seconds away from finding your notes!</p>
        
        </div>
        <div class="col-md-9 register-right">
        <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <h3 class="register-heading">Login</h3>
        <div class="row register-form">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                <div class="form-group">{{ message }}</div>
                {% endfor %}
                {% endif %}

                <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" value="">
                </div>
                <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password " value="">
                <a href="#">Forgot Password?</a>
                </div>
                
                <input type="submit" class="btnRegister" value="Login">
            </form>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>  
        </body>
        </html>

         